<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <iframe src="https://giphy.com/embed/88P7lxjwCEvWo" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/love-pizza-aww-88P7lxjwCEvWo">via GIPHY</a></p>
    <p>Welcome to <%= title %></p>
  </body>
</html>
